/********** Hearder **********/

.header__goback {
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  @include flex-center;
  z-index: 10;
  transition: all 3s ease-out;
}

/********** ImgMenu **********/

.hero-img {
  width: 100%;
  max-height: 383px;
  object-fit: cover;
}

/********** MenuContainer **********/

.menu-container {
  max-width: 1200px;
  background: #f6f6f6;
  margin: auto;
  padding: 2.5rem 1rem;
  border-radius: 40px 40px 0 0;
  margin-top: -3rem;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

/********** RestaurantTitle **********/

.restaurant {
  &__title {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 400;
    font-family: "Shrikhand", serif;
    color: #101010;
    position: relative;
    display: inline-block;

    @media screen and (max-width: 375px) {
      font-size: 1.5rem;
    }
  }
}

/********** Menus **********/

.menus {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  @media screen and (min-width: 768px) {
    width: 75%;
  }

  @media screen and (min-width: 1024px) {
    width: 634px;
  }

  &__title {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 4px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px;
      width: 40px;
      height: 3px;
      background: $tertiary-color;
    }
  }
}

/********** Submenus **********/

.menus {
  &__submenus {
    background-color: #fff;
    max-width: 100%;
    height: 69px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
}

.submenus-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.submenus__txt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &--title {
    font-size: 1.125rem;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--description {
    font-size: 0.938rem;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.submenus__price {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  transition: margin 350ms ease;
}

/********** SubmenusSelect **********/

.submenus__select {
  position: absolute;
  width: 60px;
  height: 100%;
  background-color: $tertiary-color;
  border-radius: 0 15px 15px 0;
  top: 0;
  bottom: 0;
  right: -60px;
  transition: right 350ms ease;
  @include flex-center;

  &::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 0.875rem;
    @include flex-center;
    width: 25px;
    height: 25px;
    color: $tertiary-color;
    background-color: #fff;
    border-radius: 9999px;
    transform: rotate(180deg);
    transition: transform 350ms ease;
  }
}

.menus__submenus:hover .submenus__select {
  right: 0;
}

.menus__submenus:hover .submenus__select::after {
  transform: rotate(0);
}

.menus__submenus:hover .submenus__price {
  margin-right: 3.75rem;
}
